.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    margin: auto;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  