<mat-menu #downloadActionMenu="matMenu">
    <button mat-menu-item (click)="showColEditDialog()" *ngIf="showColumnReOrderButton">
      {{BASE_LANG + '.Buttons.btnColumnSettings' | translate}}
    </button>
    <button mat-menu-item (click)="downloadExcel()">
      {{BASE_LANG + '.Buttons.btnDownloadExcel' | translate}}
    </button>
    <button mat-menu-item (click)="generatePdf()">
      {{BASE_LANG + '.Buttons.btnDownloadPDF' | translate}}
    </button>
  </mat-menu>
  
  <mat-menu #tbActionMenu="matMenu">
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="View" (click)="selectData(selected)"
            *ngIf="canSelect">
      <!-- <img class="vector" src="assets/images/logos/group-6025-9.svg" /> -->
      <span class="fa fa-check text-primary fa-fw me-1"></span>
      {{BASE_LANG + '.Buttons.btnSelect' | translate}}
    </button>
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="Edit" (click)="editData(selected)"
            *ngIf="canEdit">
      <!-- <img class="vector" src="assets/images/logos/vector-2.svg" /> -->
      <span class="fa fa-edit text-primary fa-fw me-1"></span>
      {{BASE_LANG + '.Buttons.editBtn' | translate}}
  
    </button>
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="View" (click)="viewData(selected)"
            *ngIf="canView">
      <!-- <img class="vector" src="assets/images/logos/group-6025-9.svg" /> -->
      <span class="fa fa-eye text-primary fa-fw me-1"></span>
      {{BASE_LANG + '.Buttons.btnView' | translate}}
  
    </button>
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="Download as PDF" (click)="downloadPdfData(selected)"
            *ngIf="canDownloadPdf">
      <!-- <img class="vector" src="assets/images/logos/group-6025-9.svg" /> -->
      <span class="fa fa-cloud-download text-primary fa-fw me-1"></span>
      {{BASE_LANG + '.Buttons.btnDownload' | translate}}
  
    </button>
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="Duplicate"
            (click)="duplicateData(selected)" *ngIf="canDuplicate">
      <!-- <img class="vector" src="assets/images/logos/duplicate.png" /> -->
      <span class="fa fa-copy text-primary mr-2"></span>
      {{BASE_LANG + '.Buttons.btnDuplicate' | translate}}
  
    </button>
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="Create shipment"
            (click)="generateData(selected)" *ngIf="canGenerate">
      <!-- <img class="vector" src="assets/images/logos/duplicate.png" /> -->
      <span class="fa fa-clone text-warning fa-fw me-1"></span>
      Create shipment
    </button>
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="Delete" (click)="deleteData(selected)"
            *ngIf="canDelete">
      <!-- <img class="vector" src="assets/images/logos/vector-97.svg" /> -->
      <span class="fa fa-trash text-danger fa-fw me-1"></span>
      {{BASE_LANG + '.Buttons.btnDelete' | translate}}
  
    </button>
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="Duplicate"
            (click)="emailResend(selected)" *ngIf="canResendEmail">
      <span class="fa fa-retweet text-primary fa-fw me-1"></span>
      {{BASE_LANG + '.Buttons.resendEmail' | translate}}
    </button>
  
    <a mat-menu-item data-toggle="tooltip" data-placement="bottom" title="Download" [href]="selected.Url" target="_blank"
       *ngIf="canDownload && selected" class="tb-download" download>
      <!-- <i class="fas fa-cloud-download"></i> -->
      <span class="fas fa-cloud-download me-1"></span>
      {{BASE_LANG + '.Buttons.btnDownload' | translate}}
    </a>
  
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="{{optionalActionTitle}}"
            (click)="optionalActionData(selected)" *ngIf="canOptionalAction">
      <i class="{{optionalActionIconClassList}}"></i>
    </button>
  
    <button mat-menu-item *ngIf="showActiveAction && selected" data-toggle="tooltip" data-placement="bottom"
            [title]="selected[activePropName] == true? 'De-active': 'Active'" (click)="toggleStatus(selected)">
      <span *ngIf="!selected[activePropName]"><i class="far fa-check-circle text-success me-1"></i> {{BASE_LANG + '.Buttons.btnActivate' | translate}}</span>
      <span *ngIf="selected[activePropName]"><i class="far fa-times-circle text-danger me-1"></i> {{BASE_LANG + '.Buttons.btnDeactivate' | translate}}</span>
    </button>
  
  
    <!-- <reminder-button *ngIf="canRemind" [url]="reminderUrl" style="width: 100px;" [entity]="selected"
                     [useIdFunction]="reminderUseIdFunction" (clicked)="remindClicked()">
    </reminder-button> -->
    <button class="w-100" mat-menu-item data-toggle="tooltip" data-placement="bottom" (dbclick)="remind()">
        <i class="fas fa-history text-primary" [ngClass]="{'text-success': false}"></i>
       <span  style="font-weight:400; margin-left: 9px;">{{ 'commonControls.buttons.btnRemind' | translate}}</span>
    </button>
  
    <!-- <div mat-menu-item title="Remind" style="width: 100px;" *ngIf="canRemind">
      <reminder-button [url]="reminderUrl" [entity]="selected" [useIdFunction]="reminderUseIdFunction"
        (clicked)="remindClicked()">
      </reminder-button>
    </div> -->
  </mat-menu>
  
  <div *ngIf="!minimizeTopSection" class="d-flex justify-content-between">
    <div class=" d-flex align-items-center">
      <div class="cmn-title text-primary" *ngIf="title && fromportalActivity">{{title}}</div>
      <mat-spinner class=" ms-2" *ngIf="loading" [strokeWidth]="3" [diameter]="30" [color]="'primary'"></mat-spinner>
    </div>
  </div>
  
  
  <div class="mt-1 common-table">
    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex align-items-center">
        <div class="inner-addon left-addon" *ngIf="enableSearch && showSearchBox && _data.length > 0 && fromportalActivity">
          <!-- <img class="vector" src="assets/images/logos/vector-144.svg" /> -->
          <i class="fa fa-filter"></i>
  
          <input type="text" [(ngModel)]="searchText" placeholder="{{searchPlaceholder}}" autocomplete="off"
            style="width: 300px" class=" form-control" (keyup)="applyFilter(dataSource, $event.target)" />
  
          <!-- Fix chrome autocomplete bug -->
          <input type="text" [(ngModel)]="searchText" placeholder="{{searchPlaceholder}}" autocomplete="off"
            style="width: 300px" class=" form-control"
            style="height: 0px; line-height: 0px; position: absolute; left: -2000px" />
          <!-- End Fix chrome autocomplete bug -->
  
        </div>
        <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
      </div>
      <div *ngIf="hasOption1" style="height: 20px;">
        <div class="form-group col pb-2">
          <label></label>
          <div class="custom-control custom-switch">
            <input id="advanceReceipt" (change)="opt1Changed($event)" type="checkbox" class="custom-control-input">
            <label for="advanceReceipt" class="custom-control-label">{{option1Title}}</label>
          </div>
        </div>
      </div>
      <!-- fake div -->
      <div class="d-flex">
        <button class="btn btn-primary" [disabled]="disableAddButton" (click)="newData()"
          *ngIf="canCreate && !isCreateMenu">
          <i class="fa fa-plus" aria-hidden="true"></i><span class="ms-2">{{createNewBtnString ? createNewBtnString : (BASE_LANG + '.Buttons.createNewBtn' |
            translate)}}</span>
        </button>
        <button class="btn btn-primary" (click)="newData()" [matMenuTriggerFor]="createActionMenu"
          *ngIf="canCreate && isCreateMenu">
          <i class="fa fa-plus" aria-hidden="true"></i><span class="ms-2">
            {{BASE_LANG + '.Buttons.createNewBtn' | translate: {Default: 'modules.Others.commonTable.Buttons.createNewBtn' | translate} }}
          </span>
        </button>
  
        <button class="btn btn-primary ms-2 me-1" [disabled]="disableImportButton" (click)="importData()"
          *ngIf="showImportButton">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;&nbsp; <span>{{BASE_LANG + '.Buttons.importData' |
            translate}}</span>
        </button>
      </div>
    </div>
  
    <div class="table-wraper "  [ngClass]="{
      'tb-border mb-3': showBorder,
      'table-panel': _enableHorizontalScroll,
      'border border-danger': !isValid,
      'no-action-col': !showActions && !showColumnReOrderButton,
      'resize-cursor': changeWidth }" >
      <table #table="matTable"  id="{{t_id}}"
      class="w-100 my-mat-table"
      mat-table [dataSource]="dataSource" #dataSort="matSort" matSort>
  
        <ng-container matColumnDef="Action" sticky>
          <th mat-header-cell class="action-col" *matHeaderCellDef>
            <button mat-icon-button [matMenuTriggerFor]="downloadActionMenu">
              <i class="fas fa-line-columns"></i>
            </button>
          </th>
  
          <td mat-cell *matCellDef="let element" class="action-col"   [ngStyle]="{'background-color': '#' + element.bgColor}">
            <div *ngIf="!showDefaultActions && showActions && actionTemplate != null">
              <ng-container *ngTemplateOutlet="actionTemplate; context: {element: element}"></ng-container>
            </div>
  
            <button *ngIf="showDefaultActions && showActions && !noOptions" mat-icon-button (click)="menuBtnClicked(element)"
              [matMenuTriggerFor]="tbActionMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
  
            <button *ngIf="!showDefaultActions && !noOptions" mat-icon-button (click)="menuBtnClicked(element)"
            [matMenuTriggerFor]="tableActionMenu">
            <mat-icon>more_vert</mat-icon>
            </button>
          </td>
          <td [class.footer-cell]="type == 'price_summary'" mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <ng-container [matColumnDef]="column.PropertyName" *ngFor="let column of all_columns; let i = index">
          <!-- Headers -->
          <ng-container *ngIf="enableSort; else noSort">
            <th mat-header-cell  *matHeaderCellDef [mat-sort-header]="column.SortProperty">
              <div *ngIf="!all_columns[i].enableColumnSearch"> {{ column.Title | uppercase }}</div>
  
              <div *ngIf="all_columns[i].enableColumnSearch">
                <ng-select [(ngModel)]="all_columns[i].filterdata"   (change)="onChange(all_columns[i])" [multiple]="true" [virtualScroll]="true"
                  [closeOnSelect]="false" class="common-table-control-select" appendTo="body"
                  (click)="$event.stopPropagation(); $event.preventDefault();" [items]="all_columns[i].colFilterData | striptTag"
                  placeholder="{{column.Title}}">
  
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div class="d-flex align-items-center">
                      <input id="item-{{index}}" [checked]="all_columns[i].filterdata && all_columns[i].filterdata.indexOf(item) > -1"
                      [title]="item" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" />
                      <span class="ml-1 text-wrap" [title]="item">{{item}}</span>
                    </div>
                  </ng-template>
                  <ng-template ng-multi-label-tmp let-items="items">
                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                      {{item}}
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                      <span class="ng-value-label">{{items.length - 2}} more...</span>
                    </div>
                  </ng-template>
  
                </ng-select>
              </div>
              <button mat-icon-button *ngIf="enableSearch && _data.length > 0"
                (click)="$event.stopPropagation(); $event.preventDefault(); toggleClose(all_columns[i])">
                <i *ngIf="!all_columns[i].enableColumnSearch" class="fa fa-filter"></i>
                <i *ngIf="all_columns[i].enableColumnSearch" class="fa fa-close"></i>
              </button>
  
              <!-- <div class="ml-auto bg-white" style="width:2px;height:40px;resize: horizontal; cursor: col-resize;"></div> -->
            </th>
          </ng-container>
  
          <ng-template #noSort>
            <th  mat-header-cell *matHeaderCellDef>
              <div *ngIf="!enableColumnSearch">
                {{ column.Title | uppercase }}
              </div>
              <div *ngIf="all_columns[i].enableColumnSearch">
                <ng-select [(ngModel)]="all_columns[i].filterdata" (change)="onChange(all_columns[i])" [multiple]="true"
                  [closeOnSelect]="false" class="common-table-control-select" appendTo="body"
                  (click)="$event.stopPropagation(); $event.preventDefault();" [items]="all_columns[i].colFilterData"
                  placeholder="{{column.Title}}">
  
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div class="d-flex align-items-center">
                      <input id="item-{{index}}" [checked]="all_columns[i].filterdata && all_columns[i].filterdata.indexOf(item) > -1"
                      type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" />
                    <span class="ml-1 text-wrap" [title]="item">{{item}}</span>
                    </div>
                  </ng-template>
                  <ng-template ng-multi-label-tmp let-items="items">
                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                      {{item}}
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                      <span class="ng-value-label">{{items.length - 2}} more...</span>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <button mat-icon-button *ngIf="enableSearch && _data.length > 0"
                (click)="$event.stopPropagation(); $event.preventDefault(); toggleClose(all_columns[i])">
                <i *ngIf="!all_columns[i].enableColumnSearch" class="fa fa-filter"></i>
                <i *ngIf="all_columns[i].enableColumnSearch" class="fa fa-close"></i>
              </button>
            </th>
          </ng-template>
  
          <!-- End Headers -->
  
          <!-- Cells -->
  
          <td mat-cell class="hover" *matCellDef="let element" (click)="rowClicked(element, column)"
            [ngStyle]="{'background-color': '#' + element.bgColor}"
            title="{{element[column.hoverTitle] ? element[column.hoverTitle] : ''}}">
  
            <!-- Normal Cells -->
  
            <!-- <div class="{{element[column.CssClassProp]}}" *ngIf="!column.CustomTemplateName">
              {{!column.PropertyName.toLowerCase().includes('date') ? element[column.PropertyName] : element[column.PropertyName] | date: 'dd LLL yyyy'}}
            </div> -->
  
            <div class="{{element[column.CssClassProp|| '']}}" *ngIf="!column.CustomTemplateName">
              <!-- {{!column.PropertyName.toLowerCase().includes('date') ? element[column.PropertyName] : element[column.PropertyName] | date: 'dd LLL yyyy'}} -->
              {{element[column.PropertyName]}}
            </div>
  
            <!-- Normal Cells -->
  
            <!-- Custom Cells -->
  
            <div *ngIf="column.CustomTemplateName == 'templateRef1'">
              <ng-container *ngTemplateOutlet="templateRef1; context: {element: element}"></ng-container>
            </div>
  
            <div *ngIf="column.CustomTemplateName == 'templateRef2'">
              <ng-container *ngTemplateOutlet="templateRef2; context: {element: element}"></ng-container>
            </div>
  
            <div *ngIf="column.CustomTemplateName == 'templateRef3'">
              <ng-container *ngTemplateOutlet="templateRef3; context: {element: element}"></ng-container>
            </div>
  
            <div *ngIf="column.CustomTemplateName == 'templateRef4'">
              <ng-container *ngTemplateOutlet="templateRef4; context: {element: element}"></ng-container>
            </div>
  
            <div *ngIf="column.CustomTemplateName == 'templateRef5'">
              <ng-container *ngTemplateOutlet="templateRef5; context: {element: element}"></ng-container>
            </div>
  
            <div *ngIf="column.CustomTemplateName == 'templateRef6'">
              <ng-container *ngTemplateOutlet="templateRef6; context: {element: element}"></ng-container>
            </div>
  
            <!-- End Custom Cells -->
          </td>
          <!-- End Cells -->
          <!--Footer cell-->
          <ng-container *ngIf="showFooter && type == 'price_summary'; else otherFooter">
            <td class="footer-cell" mat-footer-cell *matFooterCellDef> {{footerCountForPriceReport(dataSource.filteredData, column.PropertyName)}}
            </td>
          </ng-container>
          <ng-template #otherFooter>
            <ng-container *ngIf="showFooter">
              <td mat-footer-cell *matFooterCellDef> {{column.FooterValue}}
              </td>
            </ng-container>
          </ng-template>
          <!--End of Footer cell-->
  
        </ng-container>
  
  
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [class.yellow-animation]="row._recentlyChanged"></tr>
        <ng-container *ngIf="showFooter">
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </ng-container>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="99">
            <div class="mt-4" style="text-align: center;">
              <div class="title-text-gray d-flex flex-column justify-content-center align-items-center">
                <div class="font-weight-bolder">{{BASE_LANG + '.Msgs.noDataFound' | translate}}</div>
              </div>
            </div>
          </td>
        </tr>
      </table>
  
      <div [hidden]="!enablePagination">
        <mat-paginator #paginatorData [pageSize]="selectedPageSize" [pageSizeOptions]="[5, 25, 50, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  
  
  
  <!-- header -->
  <div style="width: 0px; height: 0px; overflow: hidden">
    <div
        id="{{ printSectionId }}"
        *ngIf="headerHtmlContent != null"
        [style]="PDFSnapshotHeaderStyle"
        [innerHtml]="headerHtmlContent"
    ></div>
  </div>
  <!--end of header -->
  
  <!-- footer -->
  <div style="width: 0px; height: 0px; overflow: hidden">
    <div
        id="{{ printSectionId }}"
        *ngIf="footerHtmlContent != null"
        [style]="PDFSnapshotFooterStyle"
        [innerHtml]="footerHtmlContent"
    ></div>
  </div>
  <!--end of  footer -->
  