.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    margin: auto;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .user-agency-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(239 246 255/1);
    border-radius: 0.5rem;
    border: 1px solid hsl(220, 13%, 91%);
    margin-bottom: 1.5rem;
  }
  .user-agency-bar ::ng-deep label{
    font-weight: medium;
    font-weight: 500;
  }
  .user-agency-bar .right{
    color: rgb(37 99 235/1);
    font-size: .875rem;
    line-height: 1.25rem;
  }