<div class="grid-wrapper max-w-7xl mx-auto px-4 py-6 sm:px-6 lg:px-8">
    <div class="grid-search-box-wrapper">
        <div class="common-input search-box max-w-md border-gray-300 rounded-md bg-white">
            <iconify-icon class="text-gray-400" icon="material-symbols:search" width="20" height="20" style="color: white;">

            </iconify-icon>
            <input type="search" [(ngModel)]="searchInput" placeholder="{{'AgencyTeam.AgencyGrid.formFields.gridSearchBox.placeholder' | translate}}" name="" id="">
        </div>
    </div>
    <div class="grid-table-wrapper">
        <!-- <div class="view-as">
            <label>{{'AgencyTeam.AgencyGrid.titles.view' | translate}}:</label>
            <span [class.active-mode]="item.isActive" class="rounded-md" *ngFor="let item of viewModes()" (click)="updateViewMode(item)">
                <iconify-icon  [icon]="item.iconName" width="20" height="20" style="color: rgb(32, 31, 31);">

                </iconify-icon>
            </span>
        </div> -->

        <div class="grid-table">
            <table *ngIf="currentMode == 'table' else listView">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">{{'AgencyTeam.AgencyGrid.tableColumns.name' | translate | uppercase}}</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">{{'AgencyTeam.AgencyGrid.tableColumns.contact' | translate | uppercase}}</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">{{'AgencyTeam.AgencyGrid.tableColumns.role' | translate | uppercase}}</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr *ngFor="let item of filteredList()">
                        <td class="px-6 py-4 whitespace-nowrap user">
                            <div>
                                <div class="left flex-shrink-0 h-10 w-10 bg-gray-200 rounded-full flex items-center justify-center">
                                    <iconify-icon class="text-gray-400" icon="mdi:user-outline" width="20" height="20" style="color: white;">
    
                                    </iconify-icon>
                                </div>
                                <div class="right">
                                    <div class="primary-text text-sm font-medium text-gray-900">
                                        {{item.UserFullName}}
                                    </div>
                                    <div class="secondary-text text-sm text-gray-500">
                                        {{'@'}}{{item.UserName}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="primary-text text-sm font-medium text-gray-900">
                                {{item.UserMail}}
                            </div>
                            <div class="secondary-text text-sm text-gray-500">
                                {{item.UserContactNo}}
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="primary-text text-sm font-medium text-gray-900">
                                {{item.UserCategoryName}}
                            </div>
                            <div class="secondary-text text-sm text-gray-500">
                                {{item.UserRoleName}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #listView>
                <div class="grid-card-wrapper">
                    <div class="grid-card bg-white shadow rounded-lg" *ngFor="let item of filteredList()">
                        <div class="top-section">
                            <div class="left">
                                <div class="mb-4 user-icon bg-gray-200 rounded-full flex items-center justify-center">
                                    <iconify-icon class="text-gray-400" icon="mdi:user-outline" width="20" height="20" style="color: white;">
    
                                    </iconify-icon>
                                </div>
                                <div class="user-details">
                                    <div class="text-lg font-medium text-gray-900">{{item.UserFullName}}</div>
                                    <p class="text-sm text-gray-500 mb-2">{{'@'+item.UserName}}</p>
                                </div>
                                <div class="role-details">
                                    <div class="text-sm text-gray-900 font-medium">{{item.UserCategoryName}}</div>
                                    <p class="text-sm text-gray-500 mb-2">{{item.UserRoleName}}</p>
                                </div>
                                <div class="contact-details">
                                    <div class="text-sm text-gray-900 font-medium">{{item.UserMail}}</div>
                                    <p class="text-sm text-gray-500 mb-2">{{item.UserContactNo}}</p>
                                </div>
                            </div>
                            <div class="right">
                                <span class="status">
                                    {{'Active'}}
                                </span>
                            </div>
                        </div>
                        <div class="bottom-section">
                            <button>
                                <iconify-icon icon="mdi:edit" width="16" height="16" style="color: white;">
    
                                </iconify-icon>
                            </button>
                            <button class="delete">
                                <iconify-icon icon="mdi:delete" width="16" height="16" style="color: white;">
    
                                </iconify-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
            
        </div>
    </div>
</div>