<div class="plan-list-wrapper">
  <div
    class="plan-card rounded-lg shadow-lg overflow-hidden relative border border-gray-200"
    *ngFor="let item of planList()"
  >
    <div class="p-6">
      <h3 class="text-xl font-bold text-gray-900 mb-2">{{ item.category }}</h3>
      <div class="mb-4">
        <span class="text-3xl font-bold text-gray-900">{{ item.price }}</span>
        <span class="text-gray-500">{{ item.duration }}</span>
      </div>
      <p class="text-gray-600 mb-6">{{ item.desc }}</p>
      <ul class="space-y-3 feature-list mb-8">
        <li *ngFor="let list of item.featureList" class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-check h-5 w-5 text-green-500 mr-2"
          >
            <path d="M20 6 9 17l-5-5"></path></svg><span class="text-gray-700">{{list}}</span>
        </li>
      </ul>
      <button class="w-full py-2 px-4 rounded-md font-medium transition-colors bg-white border border-blue-600 text-blue-600 hover:bg-blue-50">Get Started</button>
    </div>
  </div>
</div>
